<div class="user-details">
    <h1> Blog Posts</h1>
  </div>
  <div class="user-projects">
    <div class="images-right">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Gradient Descent from Scratch </h3>
      <p>Have you ever wondered what makes gradient descent tick? Well check out my write-up on how to code it up from scratch in python! You'll learn all the inner details of gradient descent so you can understand your favorite ml frameworks even better!</p>
      
      <!-- Link to the specific post in the _posts directory -->
      <a class="project-link" href="{{ post_url 2020-09-15-gradient-descent }}">Check it out</a>
    </div>
  </div>
  