<div class="user-details">
  <h1 class="posts-header">Blog Posts</h1>
</div>

<section id="posts">
  {% for post in site.posts %}
  <div class="post-wrapper">
    <div class="post-image">
      <img src="{{ post.image | prepend: site.baseurl }}" alt="{{ post.image_alt}}"/>
    </div>
    <div class="post-content">
      <h3>{{ post.title }}</h3>
      <p>{{ post.excerpt }}</p>
      <p>Post URL: {{ post.url }}</p>
      <a class="project-link" href="{{ post.url | prepend: site.baseurl }}">Check it out</a>
    </div>
  </div>
  {% endfor %}
</section>