<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="raiders football helmet" src="{{ "/assets/img/projects/football/daniel-alvasd-vamJGmpPDY4-unsplash.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Fantasy Football Analytics Engine </h3>
    <ul>
      <li> XGBoost</li>
      <li> Regression</li>
      <li> ETL</li>
    </ul>
    <p>I am building a fantasy football analytics engine to empower players to make data driven decisions. So far, I have beaten expert player projections by an average of five points!</p>
    <a class="project-link" target="_blank" href="https://github.com/ColinB19/FantasyFootballAnalysis">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="grouped word cloud" src="{{ "/assets/img/projects/webscraper/wc_specific_CROP.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Data Jobs Webscraper </h3>
    <ul>
      <li> Webscraping</li>
      <li> Data Visualization</li>
      <li> Statistics</li>
    </ul>
    <p>A data motivated way to search for a new career. This project scrapes and analyzes information from thousands off posted jobs in order to gain actionable career insights.</p>
    <a class="project-link" target="_blank" href="https://github.com/ColinB19/datajobswebscraper">Check it out</a>
  </div>
</div>

<div class="user-projects"></div>
  <div class="images-right">
    <img alt="book shelf in a library" src="{{ "/assets/img/projects/book_rec/susan-q-yin-2JIvboGLeho-unsplash.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Book Recommender System </h3>
    <ul>
      <li> Python</li>
      <li> AWS</li>
      <li> Recommender Systems</li>
    </ul>
    <p>A full stack project aimed at recommending new books to users in order to drive user engagement.</p>
    <a class="project-link" target="_blank" href="https://github.com/ColinB19/datajobswebscraper">Check it out</a>
  </div>
</div>

