<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <header>
      <h1>{{ site.title }}</h1>
      <nav>
        <ul>
          <li><a href="{{ site.baseurl }}">Home</a></li>
          <li><a href="{{ site.baseurl }}/posts">Posts</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <article>
        <h2>{{ page.title }}</h2>
        <p>Published on {{ page.date | date: "%B %d, %Y" }}</p>
        <div>{{ content }}</div>
      </article>
    </main>
      {% include footer.html %}
  </body>
